*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.tox
*.egg-info/*
*.swp
docs/_build/*
dist/*
example/media/*
stickyuploads/static/stickyuploads/js/*.bundle.js
stickyuploads/static/stickyuploads/js/*.min.js
