{% extends "base.html" %}

{% block content %}
    <h1>Django Sticky Uploads Example</h1>
    <p class="description">
        Use the form below to test the background upload functionality of django-sticky-uploads.
        If the file was successfully uploaded in the background, it should persist on a submission
        error, even if you do not include the required name on subsequent submissions.
    </p>
    <p>
      You can simulate a failed form submission by unchecking the checkbox before submitting.
    </p>
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ messsage.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form class="upload-form" action="." method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        <div class="clear"></div>
    </form>
{% endblock %}

{% block the_very_end %}
  <script>
  // This needs to be at the very end of the page body so it'll run after
  // django-sticky-uploads has initialized.
        document.addEventListener('DOMContentLoaded', function() {
            console.log("Now index.html's init code is running");

            var elt = document.querySelector('input[type=file]');
            var uploader = elt.djangoUploader;

            uploader.options.before = function(file) {
                console.log("Before is running");
                console.log("Length of data is " + file.size);
                return true;
            }

            uploader.options.success = function(response) {
                console.log("Success is running");
                console.log(response);
            }

            uploader.options.failure = function(response) {
                console.log("Failure is running");
                console.log(response);
            }

            uploader.options.submit = function(evt) {
                console.log("This is the submit callback")
            }
        });

  </script>
{% endblock %}
